In [1]:
import pandas as pd

df = pd.read_csv('./cities_stations_20240628_170744_2.csv')

def restar_un_dia(fecha):
    if isinstance(fecha, str) and 'T' in fecha:
        fecha, hora = fecha.split('T')
        fecha = pd.to_datetime(fecha) - pd.Timedelta(days=1)
        return fecha.strftime('%Y-%m-%dT') + hora
    else:
        return fecha

df['dates'] = df['dates'].astype(str)
df['dates'] = df['dates'].apply(restar_un_dia)

print(df)

filename = "cities_stations_20240628_170744.csv"
df.to_csv(filename, index=False)
print(f"Archivo guardado como: {filename}")

                                names comunity scores  \
0                              Madrid   Madrid     28
1     Escuelas Aguirre, Madrid, Spain   Madrid     50
2          Sanchinarro, Madrid, Spain   Madrid     46
3    Plaza De Castilla, Madrid, Spain   Madrid     38
4       Cuatro Caminos, Madrid, Spain   Madrid     34
..                                ...      ...    ...
169      Tlalnepantla, México, Mexico      NaN     70
170      Tlaneplantla, México, Mexico      NaN      -
171         Tultitlan, México, Mexico      NaN      -
172         Camarones, México, Mexico      NaN      -
173         Velódromo, Puebla, Mexico      NaN     39

                         dates   co  humidity  no2    o3       p  pm10  pm25  \
0    2024-06-28T17:07:33+09:00  0.1      86.0  3.2  28.1  1016.2   7.0  17.0
1    2024-06-28T17:03:50+09:00  0.1      82.0  4.6  28.1  1016.2  17.0  50.0
2    2024-06-28T17:03:51+09:00  NaN      84.0  1.9   NaN  1014.0  15.0  46.0
3    2024-06-28T17:03:51+09:00  NaN      82.0  3.7   NaN  1016.2  14.0  38.0
4    2024-06-28T17:03:51+09:00  NaN      82.0  2.8   NaN  1016.2  12.0  34.0
..                         ...  ...       ...  ...   ...     ...   ...   ...
169  2023-09-09T05:40:18+09:00  4.5      28.0  9.3  49.6  1026.5  40.0  70.0
170  2021-12-17T06:32:04+09:00  NaN      54.0  NaN   NaN  1007.0   NaN   NaN
171  2023-06-29T23:43:12+09:00  NaN      59.0  NaN   NaN  1027.7   NaN   NaN
172  2023-08-29T22:44:39+09:00  NaN      62.0  NaN   NaN  1027.4   NaN   NaN
173  2024-06-28T07:47:54+09:00  1.9      52.0  8.5  39.2  1022.3   NaN   NaN

     so2  temp  wind
0    1.6  16.1   9.0
1    1.6  16.1   3.0
2    NaN  15.5   7.0
3    NaN  16.1   3.0
4    NaN  16.1   3.0
..   ...   ...   ...
169  2.9  24.0   1.5
170  NaN  20.0  11.0
171  NaN  19.0   1.5
172  NaN  12.0   2.5
173  1.0  21.0   1.5

[174 rows x 14 columns]
Archivo guardado como: cities_stations_20240628_170744.csv